/*ETIQUETAS GLOBALES*/
html{
   width: 100%;
}
header {
    position: relative;
    width: 100%;
    height: 15vh;
}
nav{
    position: relative;
    width: 30vw;
    float: right;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
footer {
    width:100%;
    position: relative;
}
/*ETIQUETAS GLOBALES HIJOS*/
header > div, nav {
    height:100%;
}
nav > div {
    cursor: default;
}
footer > div {
    color: #101010;
    font-size: 20px;
    font-family: Libre Franklin;
    font-weight: 400;
    word-wrap: break-word;
}
/*CLASES*/
.activo {
    color: #BA987C;
}
.arrows {
    width: 18px;
    height: 40px;
    position:absolute;
    bottom: 40px;
}
/*IDs*/
#firma {
    position: relative;
    float: left;
}
#firma > img {
    height:100%;
}
#pinturas:hover, #plumilla:hover, #bio:hover{
    color: #BA987C;
}
#line {
    width: 95%;
    left: 30px;
    top: 40px;
    margin-bottom: 20vh;
    position: relative;
    border: 1px #101010 solid
}
#miscGroup {
    position: relative;
    display:flex;
    justify-content:space-evenly;
    height:20vh;
}
#contactGroup {
    height: 14vh;
    position: relative;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    flex-direction:row-reverse;
}
#mailContainer {
    position:relative;
    width: 15vw;
    min-width: 110px;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    flex-direction:row-reverse;
}
#mailText {
    position: relative;
    text-align: center;
    align-self:center;
    display:flex;
    align-items: center;
}
#placeholder {
    position: relative;
}
#instaContainer {
    width: 15vw;
    height:32px;
    position: relative;
    min-width: 110px;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    flex-direction:row-reverse;
}
#instaWord {
    position: relative;
    text-align: center;
    align-self:center;
    display:flex;
    align-items: center;
}
#instaIco {
    position: relative;
    height:100%;
}
#legend {
    margin: auto;
    margin-bottom:10px;
    position: relative;
    text-align: center;
}
#muestra {
    position:relative;
    width:80vw;
    height:80vh;
    margin:auto;
    display:flex;
    align-items: center;
    background-color:#f00;
}
#fondoCartel {
    width: 100%;
    height:120px;
    bottom: 0;
    position: absolute;
    background: linear-gradient(270deg, rgba(217, 217,217, 0) 10%, rgba(27.32, 27.32, 27.32, 0.70) 65%);
    display:flex;
    flex-direction: column;
}
#autora {
    margin-left: 100px;
    margin-top: 5px;
    color: #F0F0F0;
    font-size: 48px;
    font-family: "Libre Franklin";
    font-weight: 700;
    word-wrap: break-word;
}
#cartel {
    margin-left: 100px;
    color: #F0F0F0;
    font-size: 30px;
    font-family:"Sorts Mill Goudy";
    font-weight: 400;
    word-wrap:break-word;
}
#l {
    left:10px;
}
#r {
    right:10px;
}
/*HIJOS de IDs*/
#miscGroup > div {
    position: relative;
    text-align: center;
}
