/*ESTILOS A ETIQUETAS HTML*/
body {
    height: 100%;
    background-color: rgb(4, 3, 22);
    color: rgb(255, 255, 255);
    cursor: none;
    user-select: none;
}
h1 {
    padding-top: 45vh;
}
p {
    position: absolute;
    bottom: 1px;
}
/*ESTILOS A ETIQUETAS HTML HIJAS*/
/*HIJOS DE BODY*/
body > h1,h2,h3 {
    font-family: Pios;
    text-align: center;
}